body {
    padding-top: 150px;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar-brand img {
    max-height: 125px;
}

.navbar-nav {
    justify-content: space-between;
}

.navbar-nav.ml-auto {
    margin-right: 0;
}

.nav-item {
    margin-right: 45px;
}

.navbar-nav .nav-link {
    color: lightseagreen !important;
    font-size: 20px;
    font-weight: bold;
}

.navbar-toggler-icon {
    border: 2px solid lightseagreen;
}
